{% extends 'base.html' %}
{% block metadescription %}

{% endblock %}
  This is MyStore Website
{% block title %}
  Not Found -MyStore
{% endblock %}
{% block content %}
  <div class="container">
      <div class="row" style="display: flex;justify-content: center;">
        <div class="col-lg-5 mb-3 ml-5 mt-3" >
          <div class="card">
             <div class="card-body">
                 <h3 class="card-title" align="center">Page Not Found</h3>
             </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
